.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.mainContainer
{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-wrapper
{
  width: 100%;
  flex: 1 0 auto;
}


