.page-not-found-wrapper
{
    align-items: center;
    justify-content: center;
    display: flex;
}

.page-not-found-message-box
{
    margin-top: -60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}