.container {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #FFF;
}

.container p {
    margin: 0;
}

.container:hover {
    background: rgba(50, 50, 50, .2);
    cursor: pointer;
}