.container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm {
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    background: #FFF;
    border-radius: 5px;
}

.loginFormTitle {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 10px 0;
}

.loginForm form {
    display: flex;
    flex-direction: column;
}

.loginForm label {
    display: block;
    font-size: 1.4em;
    margin-bottom: 5px;
}

/* Select all input elements except the submit button */
.loginForm input:not([type="submit"]) {
    display: block;
    width: 400px;
    padding: 10px;
    background: #d2d4d8;
    border: 1px solid #CCC;
    border-radius: 2px;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.loginButton {
    font-size: 1.6em;
    color: #FFF;
    padding: 10px 30px;
    margin: 20px auto;
    background: #8a0108;
    border: none;
    border-radius: 2px;
    align-self: center;
    outline: none;
}

.loginButton:hover {
    background: #000;
    cursor: pointer;
}
