.container {
    background: #FFF;
    border: 1px solid #d2d4d8;
    box-shadow: 0px 0px 2px 0px #000;
    padding: 10px 30px;
    max-width: 500px;
    align-self: center;
}

.containerTitle {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}